.switch {
    display: flex;
    justify-content: center;
    background: var(--gray-light);
    width: auto;
    height: 38px;
}

.switchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;


    width: 108px;
    height: 36px;
}

.active {
    stroke: var(--indigo);
}

.arrow {
    stroke: #4D5562;
}

.disabled {
    background-color: var(--gray-light);
    border: 0;
    outline: none;
}