.App {
  display: grid;
  grid-template-columns: auto 240px 60px 243px auto;
  grid-template-rows: 110px 448px;
  grid-template-areas:
    '. . . s .'
    '. c . b .';


  margin: 0 auto;
  width: 695px;
  height: 640px;
}

.switch {
  grid-area: s;
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.calc {
  grid-area: c;

}

.bar {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px dashed #C4C4C4;
  border-radius: 6px;

}

.calc_button {
  width: 72px;
  height: 48px;
}