html,
body {
  margin: 0;
  padding: 0;


  color: #000000;

  font-family: 'Inter';
  text-align: center;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #FFFFFF;
  --indigo: #5D5FEF;
  --gray-light: #F3F4F6;
  --equality: ##5D5FEF;
  --zero: #111827;
  --button-border: #E2E3E5;
}